.tabpan__header___1QIpW{margin-bottom:16px}.tabpan__header___1QIpW h1{margin-bottom:0}.tabpan__header___1QIpW span{font-size:10px;color:#ababab}.listItem___ZfobX{display:flex;justify-content:space-between}
.card___2ROLY{width:100%;background-color:#fcfcfc}@media screen and (min-width:768px){.normal___HWRKS{padding:20px}}
